
.filter {
  &__btn {
    padding: 8px 28px;
    display: flex;
    align-items: center;
    color: var(--text);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: 0.1s ease-in;
    border-radius: 30px;
    border: 1px solid #6A6A6A;
    &:hover{
      background-color: var(--light-hover);
    }
  }

  &__icon {
    margin-right: 6px;
    width: 22px;
    height: 22px;
    fill: none;
    stroke: #1C1C1C;
  }

  &__text {
    position: relative;
  }
  &__count{
    position: absolute;
    top: -4px;
    right: -16px;
    display: inline-block;
    width: 14px;
    height: 14px;
    padding: 1px 4px;
    color: #FFF;
    font-family: Roboto, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 50%;
    background-color: #1C1C1C;
  }
  &__content {
    height: 100%;
    padding: 32px 20px 20px 32px;
    width: 480px;
    background-color: #FFFFFF;
  }
}


.filter-content {
  &__head {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 50px;
    color: #1C1C1C;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__icon {
    cursor: pointer;
  }

  &__form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.form-filter {
  &__wrap{
    height: calc(100% - 120px);

  }
  &__section {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 13px;
  }
  &__accordion{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__title {
    margin-bottom: 10px;
    display: block;
    color: var(--text);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }

  &__row {
    display: flex;
    align-items: center;
    gap: 35px;
  }
  &__btn-else{
    padding-left: 35px;
    color: #1C1C1C;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px; /* 185.714% */
    text-decoration-line: underline;
  }
  &__btns {
    position: absolute;
    left: 32px;
    right: 20px;
    bottom: 0;
    z-index: 2;
    height: 80px;
    padding: 20px 0 20px 0;
    border-top: 1px solid #D4D4D4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
  }

  &__reset {
    color: #A1A1A1;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  &__apply {
    width: 170px;
    height: 40px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    background-color: var(--text);
    border-radius: 30px;
    color: var(--light);
    text-align: right;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
  }
}

.custom-checkbox {
  @include custom-checkbox;
}
.custom-checkbox1 {
  @include custom-checkbox1;
}
.simplebar-scrollbar{
  z-index: 1;
}
.noUi-horizontal{
  border: none;
  box-shadow: none;
  background-color: #D4D4D4;
  height: 3px;
}
.noUi-horizontal{
  width: 300px;
}
.noUi-base, .noUi-connects{
}
.noUi-connect{
  background: #463998;
}
.noUi-handle:after, .noUi-handle:before{
  display: none;
}
.noUi-horizontal .noUi-handle{
  right: -25px;
  top: -12px;
  box-shadow: none;
  border: 3px solid #D4D4D4;
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.day-range {
  gap: 26px;
  & .form-filter__row{
    gap: 8px;
  }
  &__text {
    color: var(--text);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 39px; /* 278.571% */
  }

  &__input {
    width: 38px;
    padding: 3px 0;
    border-radius: 10px;
    border: 2px solid #D4D4D4;
    text-align: center;
    background: #FFF;
    color: var(--, #1C1C1C);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 278.571% */
  }
}
@media all and (max-width: 700px) {
  .filter {
    &__content {
      width: 100%;
    }
  }
  .noUi-horizontal{
    width: 240px;
  }
}
