<div class="about-page">
  <section class="about-page__hero hero-about">
    <h1 class="hero-about__title title">о нас</h1>
    <p class="hero-about__subtitle">Наши история и ценности: <br>Ваш надежный проводник в мире путешествий
    </p>
  </section>
  <section class="breadcrumbs about-page__breadcrumbs">
    <div class="container-small">
      <a class="breadcrumbs__link" href="index.html">Главная</a>
      <a class="breadcrumbs__link breadcrumbs__link--active" href="about-page.html">О нас</a>
    </div>
  </section>
  <section class="about-page__content">
    <div class="container-small">
      <div class="main-about__content content-about">
        <div class="content-about__row">
          <p class="content-about__text">
            <span class="content-about__text content-about__text--lg">мы</span>
            — команда профессионалов, влюбленных в искусство путешествий. Наша история началась с мечты о том, чтобы
            сделать каждое путешествие незабываемым, каждое приключение уникальным.<br><br>
            Наша миссия — сделать путешествия доступными и незабываемыми. Мы предлагаем вам не просто туры, а волшебные
            истории, которые будут жить в вашем сердце навсегда. Независимо от того, ищете ли вы релакс на пляже,
            культурные изыски или экстремальные приключения, мы создадим для вас оптимальное путешествие, подстроенное под
            ваши уникальные желания.
          </p>
          <picture class="content-about__image">
            <source srcset="img/about/about-img1.webp" type="image/webp">
            <img alt="about-image" class="image" height="359" loading="lazy" src="img/about/about-img1.jpg" width="544">
          </picture>
        </div>
        <div class="content-about__row">
          <picture class="content-about__image">
            <source srcset="img/about/about-img2.webp" type="image/webp">
            <img alt="about-image" class="image" height="270" loading="lazy" src="img/about/about-img2.jpg" width="352">
          </picture>
          <p class="content-about__text">
            Мы гордимся нашей командой опытных специалистов, каждый из которых разделяет страсть к туризму и стремление
            сделать ваше путешествие незабываемым. Мы внимательно следим за последними тенденциями в индустрии, чтобы
            предложить вам только лучшие и самые актуальные варианты.
          </p>
          <p class="content-about__text">
            Присоединяйтесь к нам в этом захватывающем путешествии! Мы готовы подарить вам моменты радости, вдохновения и
            удивления в каждом уголке нашего удивительного мира.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
