<div class="countries">
  <section class="countries__hero hero-countries">
    <h1 class="hero-countries__title title">страны</h1>
    <p class="hero-countries__subtitle">Исследуйте мир: Наши лучшие направления <br>и страны для путешествий
    </p>
  </section>
  <section class="breadcrumbs countries__breadcrumbs">
    <div class="container-small">
      <a class="breadcrumbs__link" href="index.html">Главная</a>
      <a class="breadcrumbs__link breadcrumbs__link--active" href="countries.html">Страны</a>
    </div>
  </section>
  <section class="countries__content content-countries">
    <div class="container-small">
      <h2 class="content-countries__title title-2">туры по странам</h2>
      <div class="content-countries__filter">
        <div class="form-group content-countries__form-group">
          <div class="dropdown">
            <button class="btn-reset dropdown__button">А</button>
            <ul class="dropdown__list">
              <li class="dropdown__list-item" data-value="А">А</li>
              <li class="dropdown__list-item" data-value="Б">Б</li>
              <li class="dropdown__list-item" data-value="В">В</li>
              <li class="dropdown__list-item" data-value="И">И</li>
              <li class="dropdown__list-item" data-value="К">К</li>
              <li class="dropdown__list-item" data-value="Н">Н</li>
              <li class="dropdown__list-item" data-value="П">П</li>
              <li class="dropdown__list-item" data-value="С">С</li>
              <li class="dropdown__list-item" data-value="Т">Т</li>
            </ul>
            <input class="dropdown__input-hidden" name="latter" type="text" value="">
          </div>
        </div>
        <span class="content-countries__text">Выбрать букву</span>
      </div>
      <div class="content-countries__wrap">
        <div class="content-countries__column">
          <div class="content-countries__column-inner">
            <span class="content-countries__head-letter">А</span>
            <ul class="content-countries__list">
              <li class="content-countries__item">
                <a class="content-countries__link" href="#">
                  <img alt="countries-flag" class="content-countries__img" height="42px" src="img/countries/abhazia.png"
                       width="42px">
                  <div class="content-countries__desc">
                    <span class="content-countries__name">Абхазия</span>
                    <span class="content-countries__visa">Без виз, без сертификата</span>
                  </div>
                </a>
              </li>
              <li class="content-countries__item disabled">
                <a class="content-countries__link" href="#">
                  <img alt="countries-flag" class="content-countries__img" height="42px" src="img/countries/andora.png"
                       width="42px">
                  <div class="content-countries__desc">
                    <span class="content-countries__name">Андорра</span>
                    <span class="content-countries__visa">Виза, без сертификата</span>
                  </div>
                </a>
              </li>
              <li class="content-countries__item">
                <a class="content-countries__link" href="#">
                  <img alt="countries-flag" class="content-countries__img" height="42px" src="img/countries/aruba.png"
                       width="42px">
                  <div class="content-countries__desc">
                    <span class="content-countries__name">Аруба</span>
                    <span class="content-countries__visa">Виза, без сертификата</span>
                  </div>
                </a>
              </li>
              <li class="content-countries__item">
                <a class="content-countries__link" href="#">
                  <img alt="countries-flag" class="content-countries__img" height="42px" src="img/countries/armenia.png"
                       width="42px">
                  <div class="content-countries__desc">
                    <span class="content-countries__name">Армения</span>
                    <span class="content-countries__visa">Без виз, без сертификата</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="content-countries__column-inner">
            <span class="content-countries__head-letter">Б</span>
            <ul class="content-countries__list">
              <li class="content-countries__item">
                <a class="content-countries__link" href="#">
                  <img alt="countries-flag" class="content-countries__img" height="42px" src="img/countries/brazil.png"
                       width="42px">
                  <div class="content-countries__desc">
                    <span class="content-countries__name">Бразилия</span>
                    <span class="content-countries__visa">Виза, без сертификата</span>
                  </div>
                </a>
              </li>
              <li class="content-countries__item">
                <a class="content-countries__link" href="#">
                  <img alt="countries-flag" class="content-countries__img" height="42px" src="img/countries/belgium.png"
                       width="42px">
                  <div class="content-countries__desc">
                    <span class="content-countries__name">Бельгия</span>
                    <span class="content-countries__visa">Виза, без сертификата</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="content-countries__column-inner">
            <span class="content-countries__head-letter">В</span>
            <ul class="content-countries__list">
              <li class="content-countries__item">
                <a class="content-countries__link" href="#">
                  <img alt="countries-flag" class="content-countries__img" height="42px" src="img/countries/vengria.png"
                       width="42px">
                  <div class="content-countries__desc">
                    <span class="content-countries__name">Венгрия</span>
                    <span class="content-countries__visa">Виза, без сертификата</span>
                  </div>
                </a>
              </li>
              <li class="content-countries__item">
                <a class="content-countries__link" href="#">
                  <img alt="countries-flag" class="content-countries__img" height="42px" src="img/countries/v'etnam.png"
                       width="42px">
                  <div class="content-countries__desc">
                    <span class="content-countries__name">Вьетнам</span>
                    <span class="content-countries__visa">Без виз, без сертификата</span>
                  </div>
                </a>
              </li>
              <li class="content-countries__item">
                <a class="content-countries__link" href="#">
                  <img alt="countries-flag" class="content-countries__img" height="42px"
                       src="img/countries/venesuela.png" width="42px">
                  <div class="content-countries__desc">
                    <span class="content-countries__name">Венесуэла</span>
                    <span class="content-countries__visa">Без виз, без сертификата</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="content-countries__column">
          <div class="content-countries__column-inner">
            <span class="content-countries__head-letter">И</span>
            <ul class="content-countries__list">
              <li class="content-countries__item">
                <a class="content-countries__link" href="#">
                  <img alt="countries-flag" class="content-countries__img" height="42px" src="img/countries/izrail.png"
                       width="42px">
                  <div class="content-countries__desc">
                    <span class="content-countries__name">Израиль</span>
                    <span class="content-countries__visa">Виза, без сертификата</span>
                  </div>
                </a>
              </li>
              <li class="content-countries__item">
                <a class="content-countries__link" href="#">
                  <img alt="countries-flag" class="content-countries__img" height="42px" src="img/countries/spain.png"
                       width="42px">
                  <div class="content-countries__desc">
                    <span class="content-countries__name">Испания</span>
                    <span class="content-countries__visa">Без виз, без сертификата</span>
                  </div>
                </a>
              </li>
              <li class="content-countries__item">
                <a class="content-countries__link" href="#">
                  <img alt="countries-flag" class="content-countries__img" height="42px" src="img/countries/italy.png"
                       width="42px">
                  <div class="content-countries__desc">
                    <span class="content-countries__name">Италия</span>
                    <span class="content-countries__visa">Без виз, без сертификата</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="content-countries__column-inner">
            <span class="content-countries__head-letter">К</span>
            <ul class="content-countries__list">
              <li class="content-countries__item">
                <a class="content-countries__link" href="#">
                  <img alt="countries-flag" class="content-countries__img" height="42px" src="img/countries/katar.png"
                       width="42px">
                  <div class="content-countries__desc">
                    <span class="content-countries__name">Катар</span>
                    <span class="content-countries__visa">Без виз, без сертификата</span>
                  </div>
                </a>
              </li>
              <li class="content-countries__item">
                <a class="content-countries__link" href="#">
                  <img alt="countries-flag" class="content-countries__img" height="42px" src="img/countries/kipr.png"
                       width="42px">
                  <div class="content-countries__desc">
                    <span class="content-countries__name">Кипр</span>
                    <span class="content-countries__visa">Виза, без сертификата</span>
                  </div>
                </a>
              </li>
              <li class="content-countries__item">
                <a class="content-countries__link" href="#">
                  <img alt="countries-flag" class="content-countries__img" height="42px" src="img/countries/china.png"
                       width="42px">
                  <div class="content-countries__desc">
                    <span class="content-countries__name">Китай</span>
                    <span class="content-countries__visa">Виза, без сертификата</span>
                  </div>
                </a>
              </li>
              <li class="content-countries__item">
                <a class="content-countries__link" href="#">
                  <img alt="countries-flag" class="content-countries__img" height="42px"
                       src="img/countries/kosta-rika.png" width="42px">
                  <div class="content-countries__desc">
                    <span class="content-countries__name">Коста-Рика</span>
                    <span class="content-countries__visa">Без виз, без сертификата</span>
                  </div>
                </a>
              </li>
              <li class="content-countries__item">
                <a class="content-countries__link" href="#">
                  <img alt="countries-flag" class="content-countries__img" height="42px" src="img/countries/kuba.png"
                       width="42px">
                  <div class="content-countries__desc">
                    <span class="content-countries__name">Куба</span>
                    <span class="content-countries__visa">Без виз, без сертификата</span>
                  </div>
                </a>
              </li>
              <li class="content-countries__item">
                <a class="content-countries__link" href="#">
                  <img alt="countries-flag" class="content-countries__img" height="42px" src="img/countries/nepal.png"
                       width="42px">
                  <div class="content-countries__desc">
                    <span class="content-countries__name">Непал</span>
                    <span class="content-countries__visa">Виза, без сертификата</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="content-countries__column-inner">
            <span class="content-countries__head-letter">Н</span>
            <ul class="content-countries__list">
              <li class="content-countries__item">
                <a class="content-countries__link" href="#">
                  <img alt="countries-flag" class="content-countries__img" height="42px" src="img/countries/nepal.png"
                       width="42px">
                  <div class="content-countries__desc">
                    <span class="content-countries__name">Непал</span>
                    <span class="content-countries__visa">Виза, без сертификата</span>
                  </div>
                </a>
              </li>
              <li class="content-countries__item">
                <a class="content-countries__link" href="#">
                  <img alt="countries-flag" class="content-countries__img" height="42px" src="img/countries/holand.png"
                       width="42px">
                  <div class="content-countries__desc">
                    <span class="content-countries__name">Нидерланды</span>
                    <span class="content-countries__visa">Виза, без сертификата</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="content-countries__column">
          <div class="content-countries__column-inner">
            <span class="content-countries__head-letter">П</span>
            <ul class="content-countries__list">
              <li class="content-countries__item">
                <a class="content-countries__link" href="#">
                  <img alt="countries-flag" class="content-countries__img" height="42px" src="img/countries/panama.png"
                       width="42px">
                  <div class="content-countries__desc">
                    <span class="content-countries__name">Панама</span>
                    <span class="content-countries__visa">Без виз, без сертификата</span>
                  </div>
                </a>
              </li>
              <li class="content-countries__item">
                <a class="content-countries__link" href="#">
                  <img alt="countries-flag" class="content-countries__img" height="42px" src="img/countries/peru.png"
                       width="42px">
                  <div class="content-countries__desc">
                    <span class="content-countries__name">Перу</span>
                    <span class="content-countries__visa">Виза, без сертификата</span>
                  </div>
                </a>
              </li>
              <li class="content-countries__item">
                <a class="content-countries__link" href="#">
                  <img alt="countries-flag" class="content-countries__img" height="42px" src="img/countries/portugal.png"
                       width="42px">
                  <div class="content-countries__desc">
                    <span class="content-countries__name">Португалия</span>
                    <span class="content-countries__visa">Виза, без сертификата</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="content-countries__column-inner">
            <span class="content-countries__head-letter">С</span>
            <ul class="content-countries__list">
              <li class="content-countries__item">
                <a class="content-countries__link" href="#">
                  <img alt="countries-flag" class="content-countries__img" height="42px" src="img/countries/s-aravia.png"
                       width="42px">
                  <div class="content-countries__desc">
                    <span class="content-countries__name">Саудовская Аравия</span>
                    <span class="content-countries__visa">Виза, без сертификата</span>
                  </div>
                </a>
              </li>
              <li class="content-countries__item">
                <a class="content-countries__link" href="#">
                  <img alt="countries-flag" class="content-countries__img" height="42px" src="img/countries/serbia.png"
                       width="42px">
                  <div class="content-countries__desc">
                    <span class="content-countries__name">Сербия</span>
                    <span class="content-countries__visa">Виза, без сертификата</span>
                  </div>
                </a>
              </li>
              <li class="content-countries__item">
                <a class="content-countries__link" href="#">
                  <img alt="countries-flag" class="content-countries__img" height="42px" src="img/countries/singapur.png"
                       width="42px">
                  <div class="content-countries__desc">
                    <span class="content-countries__name">Сингапур</span>
                    <span class="content-countries__visa">Виза, без сертификата</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
          <div class="content-countries__column-inner">
            <span class="content-countries__head-letter">Т</span>
            <ul class="content-countries__list">
              <li class="content-countries__item">
                <a class="content-countries__link" href="#">
                  <img alt="countries-flag" class="content-countries__img" height="42px" src="img/countries/tai.png"
                       width="42px">
                  <div class="content-countries__desc">
                    <span class="content-countries__name">Таиланд</span>
                    <span class="content-countries__visa">Виза, без сертификата</span>
                  </div>
                </a>
              </li>
              <li class="content-countries__item">
                <a class="content-countries__link" href="#">
                  <img alt="countries-flag" class="content-countries__img" height="42px" src="img/countries/tunis.png"
                       width="42px">
                  <div class="content-countries__desc">
                    <span class="content-countries__name">Тунис</span>
                    <span class="content-countries__visa">Без виз, без сертификата</span>
                  </div>
                </a>
              </li>
              <li class="content-countries__item">
                <a class="content-countries__link" href="#">
                  <img alt="countries-flag" class="content-countries__img" height="42px" src="img/countries/turkish.png"
                       width="42px">
                  <div class="content-countries__desc">
                    <span class="content-countries__name">Турция</span>
                    <span class="content-countries__visa">Без виз, без сертификата</span>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
