<header class="header">
  <div class="header__inner">
    <div class="header__wrap">
      <a href="index.html">
        <img alt="logo" class="header__logo" height="49" src="img/logo.png" width="167">
      </a>
      <nav class="header__nav header-nav">
        <ul class="header-nav__list">
          <li class="header-nav__item"><a class="header-nav__link" href="selection-page.html">Подбор тура</a></li>
          <li class="header-nav__item"><a class="header-nav__link header-nav__link--red" href="hot-tour-page.html">Горящие
            туры</a></li>
          <li class="header-nav__item"><a class="header-nav__link" href="countries.html">Страны</a></li>
          <li class="header-nav__item"><a class="header-nav__link" href="hotels-page.html">отели</a></li>
        </ul>
      </nav>
      <div class="header__controls header-control">
        <button class="header-control__callback btn-reset" data-path="callback">
          оставить заявку
        </button>
        <div class="content-reviews__modal modal" data-target="callback">
          <div class="modal__container content-reviews__modal-container">
            <div class="modal__content content-reviews__modal-content">
              <button class="btn-reset modal__close content-reviews__btn-close">
                <svg fill="none" height="26" viewBox="0 0 26 26" width="26" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M13 0C5.82864 0 0 5.82864 0 13C0 20.1714 5.82864 26 13 26C20.1714 26 26 20.1714 26 13C26 5.82864 20.1714 0 13 0ZM13 24.6878C6.56103 24.6878 1.31221 19.439 1.31221 13C1.31221 6.56103 6.56103 1.31221 13 1.31221C19.439 1.31221 24.6878 6.56103 24.6878 13C24.6878 19.439 19.439 24.6878 13 24.6878Z"
                    fill="#D4D4D4"/>
                  <path
                    d="M13.9136 12.9385L17.7282 9.12398C17.9723 8.87985 17.9723 8.45262 17.7282 8.20849C17.484 7.96436 17.0568 7.96436 16.8127 8.20849L12.9981 12.023L9.18355 8.20849C8.93942 7.96436 8.51219 7.96436 8.26806 8.20849C8.02393 8.45262 8.02393 8.87985 8.26806 9.12398L12.0826 12.9385L8.26806 16.7226C8.02393 16.9667 8.02393 17.3939 8.26806 17.6381C8.39013 17.7601 8.57322 17.8212 8.72581 17.8212C8.87839 17.8212 9.06149 17.7601 9.18355 17.6381L12.9981 13.8235L16.8127 17.6381C16.9347 17.7601 17.1178 17.8212 17.2704 17.8212C17.423 17.8212 17.6061 17.7601 17.7282 17.6381C17.9723 17.3939 17.9723 16.9667 17.7282 16.7226L13.9136 12.9385Z"
                    fill="#D4D4D4"/>
                </svg>
              </button>
              <form action="#" class="form callback-form">
                <div class="callback-form__title">
                  Перезвонить <br> <span class="reviews-form__title reviews-form__title--italic">вам?</span>
                </div>
                <p class="callback-form__subtitle">
                  Оставьте свой номер <br>
                  и наш специалист свяжется с вами
                </p>
                <label class="form__label callback-form__label">
                  <input class="input-reset form__input callback-form__input" name="Имя" placeholder="Имя" type="text">
                </label>
                <label class="form__label callback-form__label">
                  <input class="input-reset form__input callback-form__input" name="Телефон" placeholder="Телефон"
                         type="tel">
                </label>
                <button class="btn-reset form__btn reviews-form__btn modal__close">
                  <span class="form__btn-text">
                    Отправить
                  </span>
                </button>
              </form>
            </div>
          </div>
        </div>
        <div class="header-control__link">
          <svg class="header-control__icon controls-burger__icon">
            <use xlink:href="img/sprite.svg#phone"></use>
          </svg>
          <div class="header-control__link-wrap">
            <a class="header-control__link-tel" href="tel:+74956262696">+ 7 (495) 626-26-96</a>
            <a class="header-control__link-tel" href="tel:+79258262696">+ 7 (925) 826-26-96</a>
          </div>
        </div>
        <div class="header-control__link">
          <svg class="header-control__icon controls-burger__icon">
            <use xlink:href="img/sprite.svg#location"></use>
          </svg>
          <div class="header-control__link-wrap">
            <p class="header-control__text">
              Москва, Россошанский проезд, дом 3, (1‑й этаж)
            </p>
          </div>
        </div>
        <button aria-expanded="false" aria-label="Открыть меню" class="burger header-control__burger" data-burger>
          <span class="burger__line"></span>
        </button>

      </div>
    </div>
    <nav class="header-control__burger-menu burger-menu" data-menu>
      <div class="burger-menu__section">
        <span class="burger-menu__title">популярные страны</span>
        <div class="burger-menu__wrap">
          <ul class="burger-menu__list">
            <li class="burger-menu__item"><button class="burger-menu__link btn-reset" data-countries data-menu-item>Турция</button></li>
            <li class="burger-menu__item"><button class="burger-menu__link btn-reset" data-countries data-menu-item>Египет</button></li>
            <li class="burger-menu__item"><button class="burger-menu__link btn-reset" data-countries data-menu-item>Мальдивы</button></li>
          </ul>
          <ul class="burger-menu__list">
            <li class="burger-menu__item"><button class="burger-menu__link btn-reset" data-countries data-menu-item>ОАЭ</button></li>
            <li class="burger-menu__item"><button class="burger-menu__link btn-reset" data-countries data-menu-item>Куба</button></li>
            <li class="burger-menu__item"><button class="burger-menu__link btn-reset" data-countries data-menu-item>Шри-Ланка</button></li>
          </ul>
        </div>
      </div>
      <div class="burger-menu__section">
        <span class="burger-menu__title">туристам</span>
        <div class="burger-menu__wrap">
          <ul class="burger-menu__list">
            <li class="burger-menu__item"><a class="burger-menu__link" href="countries.html">Страны</a></li>
            <li class="burger-menu__item"><a class="burger-menu__link" href="hotels-page.html">Отели</a></li>
            <li class="burger-menu__item"><a class="burger-menu__link" href="selection-page.html"> Подбор тура</a></li>
          </ul>
          <ul class="burger-menu__list">
            <li class="burger-menu__item"><a class="burger-menu__link burger-menu__link--red" href="hot-tour-page.html">Горящие
              туры</a></li>
            <li class="burger-menu__item"><a class="burger-menu__link" href="pay-page.html">Как купить и оплатить
              тур</a></li>
          </ul>
        </div>
      </div>
      <div class="burger-menu__section">
        <span class="burger-menu__title">компания</span>
        <div class="burger-menu__wrap">
          <ul class="burger-menu__list">
            <li class="burger-menu__item"><a class="burger-menu__link" href="about-page.html"> О нас</a></li>
            <li class="burger-menu__item"><a class="burger-menu__link" href="reviews-page.html">Отзывы</a></li>
            <li class="burger-menu__item"><a class="burger-menu__link" href="contacts-page.html">Контакты</a></li>
          </ul>
          <ul class="burger-menu__list">
            <li class="burger-menu__item"><a class="burger-menu__link" href="news-page.html">Новости</a></li>
            <li class="burger-menu__item"><a class="burger-menu__link" href="priority-page.html">Priority</a></li>
            <li class="burger-menu__item"><a class="burger-menu__link" href="https://b2b.anextour.com/info/cooperation">Агентам</a></li>
          </ul>
        </div>
      </div>
      <div class="burger-menu__controls controls-burger">
        <button class="header-control__callback btn-reset controls-burger__callback" data-path="callback">
          оставить заявку
        </button>
        <div class="header-control__link controls-burger__link">
          <svg class="header-control__icon controls-burger__icon">
            <use xlink:href="img/sprite.svg#phone"></use>
          </svg>
          <div class="header-control__link-wrap">
            <a class="header-control__link-tel" href="tel:+74956262696">+ 7 (495) 626-26-96</a>
            <a class="header-control__link-tel" href="tel:+79258262696">+ 7 (925) 826-26-96</a>
          </div>
        </div>
        <div class="header-control__link controls-burger__link">
          <svg class="header-control__icon controls-burger__icon">
            <use xlink:href="img/sprite.svg#location"></use>
          </svg>
          <div class="header-control__link-wrap">
            <p class="header-control__text">
              Москва, Россошанский проезд, дом 3, (1‑й этаж)
            </p>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
