<div class="news-page">
  <section class="news-page__hero hero-news">
    <h1 class="hero-about__title title">новости</h1>
    <p class="hero-about__subtitle">Самые свежие события и вдохновляющие <br>истории из мира путешествий
    </p>
  </section>
  <section class="breadcrumbs news-page__breadcrumbs">
    <div class="container-small">
      <a class="breadcrumbs__link" href="index.html">Главная</a>
      <a class="breadcrumbs__link breadcrumbs__link--active" href="news-page.html">Новости</a>
    </div>
  </section>
  <section class="news-page__content content-news">
  <div class="container-small">
    <h2 class="content-news__title title-2">новости</h2>
    <p class="content-news__subtitle subtitle">события в мире туризма</p>
    <div class="content-news__wrap">
      <ul class="main-news__list" data-list="news">
        <li data-item="news" class="main-news__item item-news">
          <a href="#">
            <div class="item-news__wrap">
              <h3 class="item-news__title item-news__title--lg">
                отдых с детьми:<br>о чем нужно помнить в путешествии
              </h3>
              <a class="info-tour__link" href="#">
                читать
                <svg class="info-tour__link-icon">
                  <use xlink:href="img/sprite.svg#line"></use>
                </svg>
              </a>
            </div>
          </a>
        </li>
        <li data-item="news" class="main-news__item item-news">
          <a href="#">
            <div class="item-news__wrap">
              <h3 class="item-news__title">
                ТОП-10 уникальных и завораживающих мест в ОАЭ
              </h3>
              <a class="info-tour__link" href="#">
                читать
                <svg class="info-tour__link-icon">
                  <use xlink:href="img/sprite.svg#line"></use>
                </svg>
              </a>
            </div>
          </a>
        </li>
        <li data-item="news" class="main-news__item item-news">
          <a href="#">
            <div class="item-news__wrap">
              <h3 class="item-news__title">
                Отдых, близкий к природе и экологии
              </h3>
              <a class="info-tour__link" href="#">
                читать
                <svg class="info-tour__link-icon">
                  <use xlink:href="img/sprite.svg#line"></use>
                </svg>
              </a>
            </div>
          </a>
        </li>

        <li data-item="news" class="main-news__item item-news">
          <a href="#">
            <div class="item-news__wrap">
              <h3 class="item-news__title">
                богатство культурных и исторических сокровищ разных стран
              </h3>
              <a class="info-tour__link" href="#">
                читать
                <svg class="info-tour__link-icon">
                  <use xlink:href="img/sprite.svg#line"></use>
                </svg>
              </a>
            </div>
          </a>
        </li>
        <li data-item="news" class="main-news__item item-news">
          <a href="#">
            <div class="item-news__wrap">
              <h3 class="item-news__title item-news__title--lg-right">
                Как сделать путешествие незабываемым для всех
              </h3>
              <a class="info-tour__link" href="#">
                читать
                <svg class="info-tour__link-icon">
                  <use xlink:href="img/sprite.svg#line"></use>
                </svg>
              </a>
            </div>
          </a>
        </li>
        <li data-item="news" class="main-news__item item-news">
          <a href="#">
            <div class="item-news__wrap">
              <h3 class="item-news__title">
                путешествия, которые приведут вас в мир высот, глубин и скорости
              </h3>
              <a class="info-tour__link" href="#">
                читать
                <svg class="info-tour__link-icon">
                  <use xlink:href="img/sprite.svg#line"></use>
                </svg>
              </a>
            </div>
          </a>
        </li>
        <li data-item="news" class="main-news__item item-news">
          <a href="#">
            <div class="item-news__wrap">
              <h3 class="item-news__title">
                богатство культурных и исторических сокровищ разных стран
              </h3>
              <a class="info-tour__link" href="#">
                читать
                <svg class="info-tour__link-icon">
                  <use xlink:href="img/sprite.svg#line"></use>
                </svg>
              </a>
            </div>
          </a>
        </li>
      </ul>
      <ul class="main-news__list" data-list="news">
        <li data-item="news" class="main-news__item item-news">
          <a href="#">
            <div class="item-news__wrap">
              <h3 class="item-news__title item-news__title--lg">
                отдых с детьми:<br>о чем нужно помнить в путешествии
              </h3>
              <a class="info-tour__link" href="#">
                читать
                <svg class="info-tour__link-icon">
                  <use xlink:href="img/sprite.svg#line"></use>
                </svg>
              </a>
            </div>
          </a>
        </li>
        <li data-item="news" class="main-news__item item-news">
          <a href="#">
            <div class="item-news__wrap">
              <h3 class="item-news__title">
                ТОП-10 уникальных и завораживающих мест в ОАЭ
              </h3>
              <a class="info-tour__link" href="#">
                читать
                <svg class="info-tour__link-icon">
                  <use xlink:href="img/sprite.svg#line"></use>
                </svg>
              </a>
            </div>
          </a>
        </li>
        <li data-item="news" class="main-news__item item-news">
          <a href="#">
            <div class="item-news__wrap">
              <h3 class="item-news__title">
                Отдых, близкий к природе и экологии
              </h3>
              <a class="info-tour__link" href="#">
                читать
                <svg class="info-tour__link-icon">
                  <use xlink:href="img/sprite.svg#line"></use>
                </svg>
              </a>
            </div>
          </a>
        </li>

        <li data-item="news" class="main-news__item item-news">
          <a href="#">
            <div class="item-news__wrap">
              <h3 class="item-news__title">
                богатство культурных и исторических сокровищ разных стран
              </h3>
              <a class="info-tour__link" href="#">
                читать
                <svg class="info-tour__link-icon">
                  <use xlink:href="img/sprite.svg#line"></use>
                </svg>
              </a>
            </div>
          </a>
        </li>
        <li data-item="news" class="main-news__item item-news">
          <a href="#">
            <div class="item-news__wrap">
              <h3 class="item-news__title item-news__title--lg-right">
                Как сделать путешествие незабываемым для всех
              </h3>
              <a class="info-tour__link" href="#">
                читать
                <svg class="info-tour__link-icon">
                  <use xlink:href="img/sprite.svg#line"></use>
                </svg>
              </a>
            </div>
          </a>
        </li>
        <li data-item="news" class="main-news__item item-news">
          <a href="#">
            <div class="item-news__wrap">
              <h3 class="item-news__title">
                путешествия, которые приведут вас в мир высот, глубин и скорости
              </h3>
              <a class="info-tour__link" href="#">
                читать
                <svg class="info-tour__link-icon">
                  <use xlink:href="img/sprite.svg#line"></use>
                </svg>
              </a>
            </div>
          </a>
        </li>
        <li data-item="news" class="main-news__item item-news">
          <a href="#">
            <div class="item-news__wrap">
              <h3 class="item-news__title">
                богатство культурных и исторических сокровищ разных стран
              </h3>
              <a class="info-tour__link" href="#">
                читать
                <svg class="info-tour__link-icon">
                  <use xlink:href="img/sprite.svg#line"></use>
                </svg>
              </a>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="pagination content-selection__pagination" data-pagination="news">
      <button class="btn-reset pagination__btn pagination__btn--prev">
        <svg fill="none" height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg">
          <circle cx="16" cy="16" fill="white" r="16" stroke="#D4D4D4" transform="rotate(-180 16 16)"/>
          <path
            d="M17.8025 11.3801L13.9992 15.1835C13.55 15.6326 13.55 16.3676 13.9992 16.8168L17.8025 20.6201"
            stroke="#1C1C1C" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
            stroke-width="1.3"/>
        </svg>
      </button>
      <input class="input-reset pagination__input" type="number" value="1">
      <span class="pagination__amount">из 10</span>
      <button class="btn-reset pagination__btn pagination__btn--next">
        <svg fill="none" height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg">
          <circle cx="16" cy="16" fill="white" r="16" stroke="#D4D4D4"/>
          <path
            d="M14.1975 20.6199L18.0008 16.8165C18.45 16.3674 18.45 15.6324 18.0008 15.1832L14.1975 11.3799"
            stroke="#1C1C1C" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
            stroke-width="1.3"/>
        </svg>
      </button>
    </div>
  </div>
  </section>
</div>

