<div class="pay-page">
  <section class="pay-page__hero hero-pay">
    <h1 class="hero-pay__title title">онлайн оплата</h1>
    <p class="hero-pay__subtitle">Быстро, удобно и безопасно: <br>Оплачивайте свои мечты в несколько кликов
    </p>
  </section>
  <section class="breadcrumbs pay-page__breadcrumbs">
    <div class="container-small">
      <a class="breadcrumbs__link" href="index.html">Главная</a>
      <a class="breadcrumbs__link breadcrumbs__link--active" href="pay-page.html">Онлайн оплата</a>
    </div>
  </section>
  <section class="pay-page__content pay-content">
    <div class="container-small">
      <h2 class="pay-content__title title-2">Порядок оплаты картой</h2>
      <div class="pay-content__nav nav-content">
        <h4 class="pay-item__title">содержание</h4>
        <ul class="nav-content__list nav-content__list--list-style">
          <li class="nav-content__item"><a href="#pay-card" class="nav-content__link" data-scroll>Оплата с помощью банковской карты</a></li>
          <li class="nav-content__item"><a href="#send-data" class="nav-content__link" data-scroll>Описание процесса передачи данных</a></li>
          <li class="nav-content__item"><a href="#process-pay" class="nav-content__link" data-scroll>Описание процессa оплаты</a></li>
          <li class="nav-content__item"><a href="#cancellation" class="nav-content__link" data-scroll>При аннулировании заказа</a></li>
          <li class="nav-content__item"><a href="#delivery" class="nav-content__link" data-scroll>Доставка</a></li>
          <li class="nav-content__item"><a href="#visa" class="nav-content__link" data-scroll>Оплата по банковским картам VISA</a></li>
          <li class="nav-content__item"><a href="#visa" class="nav-content__link" data-scroll>Оплата по кредитным картам MasterCard</a></li>
          <li class="nav-content__item"><a href="#sber-pay" class="nav-content__link" data-scroll>Как оплатить банковскими картами сбербанк</a></li>
        </ul>
      </div>
      <h3 class="pay-content__title pay-content__title--elem">ОПЛАТА С ПОМОЩЬЮ БАНКОВСКОЙ КАРТЫ</h3>
      <div class="pay-content__wrap pay-item" id="pay-card">
        <p class="pay-item__text">Для выбора оплаты товара с помощью банковской карты на соответствующей странице сайта
          необходимо нажать кнопку <span class="pay-item__text pay-item__text--bold">«Оплата банковской картой».</span>
        </p>
        <p class="pay-item__text"> Оплата происходит через авторизационный сервер Процессингового центра Банка с
          использованием Банковских
          кредитных карт следующих платежных систем:
        </p>
        <ul class="pay-item__list">
          <li class="pay-item__elem">VISA International</li>
          <li class="pay-item__elem">MasterCard World Wide</li>
        </ul>
      </div>
      <div class="pay-content__wrap pay-item" id="send-data">
        <h4 class="pay-item__title">Описание процесса передачи данных</h4>
        <p class="pay-item__text"> Для оплаты покупки Вы будете перенаправлены на платежный шлюз ПАО "Сбербанк России"
          для ввода реквизитов Вашей
          карты. Пожалуйста, приготовьте Вашу пластиковую карту заранее. Соединение с платежным шлюзом и передача
          информации осуществляется в защищенном режиме с использованием протокола шифрования SSL.
        </p>
        <p class="pay-item__text">В случае если Ваш банк поддерживает технологию безопасного проведения
          интернет-платежей Verified By Visa или
          MasterCard Secure Code для проведения платежа также может потребоваться ввод специального пароля. Способы и
          возможность получения паролей для совершения интернет-платежей Вы можете уточнить в банке, выпустившем карту.
        </p>
        <p class="pay-item__text"> Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемой
          персональной информации
          обеспечивается ПАО "Сбербанк России". Введенная информация не будет предоставлена третьим лицам за исключением
          случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в
          строгом
          соответствии с требованиями платежных систем Visa Int. и MasterCard Europe Sprl.
        </p>
      </div>
      <div class="pay-content__wrap pay-item" id="process-pay">
        <h4 class="pay-item__title">Описание процессa оплаты</h4>
        <p class="pay-item__text"> При выборе формы оплаты с помощью пластиковой карты проведение платежа по заказу
          производится непосредственно
          после его оформления. После завершения оформления заказа в нашем магазине, Вы должны будете нажать на кнопку
          <span class="pay-item__text pay-item__text--bold">«Оплата банковской картой»</span>
          , при этом система переключит Вас на страницу авторизационного сервера, где Вам
          будет
          предложено ввести данные пластиковой карты, инициировать ее авторизацию, после чего вернуться в наш магазин
          кнопкой <span class="pay-item__text pay-item__text--bold">"Вернуться в магазин".</span>
        </p>
        <p class="pay-item__text"> После того, как Вы возвращаетесь в наш магазин, система уведомит Вас о результатах
          авторизации. В случае
          подтверждения авторизации Ваш заказ будет автоматически выполняться в соответствии с заданными Вами условиями.
          В
          случае отказа в авторизации карты Вы сможете повторить процедуру оплаты.
        </p>
      </div>
      <div class="pay-content__wrap pay-item" id="cancellation">
        <h4 class="pay-item__title">При аннулировании заказа</h4>
        <p class="pay-item__text">При аннулировании позиций из оплаченного заказа (или при аннулировании заказа целиком)
          по Вашей инициативе с Вас могут быть удержаны фактически понесенные затраты компании.
        </p>
      </div>
      <div class="pay-content__wrap pay-item" id="delivery" >
        <h4 class="pay-item__title">Доставка</h4>
        <p class="pay-item__text">Документы необходимые для поездки: ваучер, авиабилеты, страховки будут отправлены на
          Вашу <span class="pay-item__text pay-item__text--bold">электронную почту</span> не позднее, чем за сутки до
          вылета.
        </p>
      </div>
      <div class="pay-content__wrap pay-item" id="visa">
        <div class="pay-item__warning-wrap warning-message pay-item__warning-wrap--max-width">
          <span class="warning-message__icon">!</span>
          <p class="warning-message__text">
            Оплата банковскими картами осуществляется после проверки заказа менеджером интернет-магазина.
          </p>
        </div>
        <div class="pay-item__inner">
          <div class="pay-item__column">
            <h4 class="pay-item__title">Оплата по банковским картам VISA</h4>
            <p class="pay-item__text">
              К оплате принимаются все виды платежных карточек
              <span class="pay-item__text pay-item__text--bold">VISA</span> , за исключением Visa Electron.
            </p>
            <p class="pay-item__text"> В большинстве случаев карта Visa Electron не применима для оплаты через интернет,
              за исключением карт,
              выпущенных отдельными банками. О возможность оплаты картой Visa Electron вам нужно выяснять у
              банка-эмитента
              вашей карты.
            </p>
            <picture class="pay-item__image">
              <source srcset="img/pay-page/visa.webp" type="image/webp">
              <img alt="visa-img" class="image" height="64" loading="lazy" src="img/pay-page/visa.jpg" width="432px">
            </picture>
          </div>
          <div class="pay-item__column">
            <h4 class="pay-item__title">Оплата по кредитным картам MasterCard</h4>
            <p class="pay-item__text">
              На сайте к оплате принимаются все виды MasterCard.
            </p>
            <div class="pay-item__image-wrap pay-item__image-wrap--column">
              <picture class="pay-item__image">
                <source srcset="img/pay-page/ms-1.webp" type="image/webp">
                <img alt="visa-img" class="image" height="64" loading="lazy" src="img/pay-page/ms-1.jpg" width="323px">
              </picture>
              <picture class="pay-item__image">
                <source srcset="img/pay-page/ms-2.webp" type="image/webp">
                <img alt="visa-img" class="image" height="64" loading="lazy" src="img/pay-page/ms-2.jpg" width="211px">
              </picture>
            </div>
          </div>
        </div>
      </div>
      <div id="sber-pay" class="pay-content__wrap pay-item">
        <div class="pay-item__inner">
          <div class="pay-item__column">
            <h4 class="pay-item__title">Что нужно знать:</h4>
            <ol class="pay-item__list pay-item__list--number">
              <li class="pay-item__elem pay-item__elem--number">номер вашей кредитной карты;</li>
              <li class="pay-item__elem pay-item__elem--number">cрок окончания действия вашей кредитной карты, месяц/год;</li>
              <li class="pay-item__elem pay-item__elem--number">CVV код для
                карт Visa / CVC код для Master Card: 3 последние цифры на полосе для подписи на обороте карты.
              </li>
            </ol>
            <p class="pay-item__text"> Если на вашей карте код CVC / CVV отсутствует, то, возможно, карта не пригодна
              для CNP транзакций (т.е.
              таких транзакций, при которых сама карта не присутствует, а используются её реквизиты), и вам следует
              обратиться в банк для получения подробной информации.
            </p>
          </div>
          <div class="pay-item__column pay-item__column--center">
            <picture class="pay-item__image pay-item__image--max-size">
              <source srcset="img/pay-page/card.webp" type="image/webp">
              <img alt="visa-img" class="image" height="64" loading="lazy" src="img/pay-page/card.jpg" width="323px">
            </picture>
          </div>
        </div>
      </div>
      <h3 class="pay-content__title pay-content__title--elem">ОПЛАТА ЗАКАЗОВ ЧЕРЕЗ СБЕРБАНК</h3>
      <div class="pay-content__wrap pay-item">
        <div class="pay-item__warning-wrap warning-message">
          <span class="warning-message__icon">!</span>
          <p class="warning-message__text">
            Оплата заказов через СБЕРБАНК осуществляется после проверки заказа менеджером интернет-магазина. Чтобы
            оплатить заказ, необходимо распечатать квитанцию об оплате с сайта магазина. Предупреждаем Вас, что
            СБЕРБАНК взымает комиссию за услугу оплаты.
          </p>
        </div>
        <p class="pay-item__text">По кнопке <a class="pay-item__link" href="#">"Перейти на сайт платежной системы
          СБЕРБАНК"</a> Вы будете перенаправлены на
          платежный шлюз ПАО "Сбербанк России", где Вы сможете указать реквизиты Вашей банковской карты<b>*</b>.<br> Соединение с
          платежным шлюзом и передача параметров Вашей пластиковой карты осуществляется в защищенном режиме с
          использованием 128-битного протокола шифрования SSL.</p>
        <div class="pay-item__inner pay-item__inner--center">
          <p class="pay-item__text">
            Если Банк-Эмитент вашей пластиковой карты поддерживает технологию безопасного проведения интернет-платежей
            Verified By VISA или MasterCard SecureCode, будьте готовы указать специальный пароль, необходимый для
            успешной оплаты. Способы и возможность получения пароля для совершения интернет-платежа Вы можете уточнить
            в банке, выпустившем Вашу карту.
          </p>
          <div class="pay-item__image-wrap">
            <picture class="pay-item__image">
              <source srcset="img/pay-page/visa-icon.webp" type="image/webp">
              <img alt="pay-image" class="image" height="57" loading="lazy" src="img/pay-page/visa-icon.png"
                   width="130">
            </picture>
            <picture class="pay-item__image">
              <source srcset="img/pay-page/ms-icon.webp" type="image/webp">
              <img alt="pay-image" class="image" height="" loading="lazy" src="img/pay-page/ms-icon.png" width="">
            </picture>
          </div>
        </div>
        <p class="pay-item__text"> При выборе формы оплаты с помощью банковской карты проведение платежа по заказу
          производится непосредственно
          после подтверждения его менеджером. После подтверждения заказа менеджером, Вы должны будете зайти в личный
          кабинет вашего заказа (по 20-значному уникальному номеру заказа, полученному при оформлении) и нажать на
          кнопку <span class="pay-item__text pay-item__text--bold">«Оплата банковской картой»</span>, при этом система
          переведёт Вас на страницу авторизационного сервера
          Сбербанка, где Вам будет предложено ввести данные пластиковой карты, инициировать ее авторизацию, после чего
          вы сможете вернуться в наш магазин кликом по кнопке <span class="pay-item__text pay-item__text--bold">"Вернуться в магазин"</span>.
          После возвращения в наш магазин,
          система уведомит Вас о результатах авторизации.</p>
        <p class="pay-item__text"> До получения успешного подтверждения платежа Ваш заказ будет находиться в режиме
          ожидания, после пяти дней
          ожидания получения оплаты заказ будет автоматически аннулирован. После успешного подтверждения платежа Ваш
          заказ будет переведен в режим доставки по указанному адресу. В случае отказа в авторизации карты Вы сможете
          повторить процедуру оплаты.</p>
        <p class="pay-item__text">На оформление платежа Сбербанком выделяется <span
          class="pay-item__text pay-item__text--bold">20 минут</span>, поэтому, пожалуйста,
          приготовьте Вашу пластиковую карту заранее. Если Вам не хватит выделенного на оплату времени или в случае
          отказа в авторизации карты Вы сможете повторить процедуру оплаты</p>
        <p class="pay-item__text"><b>*</b> Конфиденциальность сообщаемой персональной информации обеспечивается ПАО "Сбербанк
          России". Введенная информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных
          законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с
          требованиями платежных системVisa Int. и MasterCard Europe Sprl.</p>
      </div>
    </div>
  </section>
</div>
