<div class="priority-page">
  <section class="priority-page__hero hero-priority">
    <h1 class="hero-about__title title">Anex Priority</h1>
    <p class="hero-about__subtitle">Мир привилегий Anex Priority
    </p>
  </section>
  <section class="breadcrumbs priority-page__breadcrumbs">
    <div class="container-small">
      <a class="breadcrumbs__link" href="index.html">Главная</a>
      <a class="breadcrumbs__link breadcrumbs__link--active" href="priority-page.html">Priority</a>
    </div>
  </section>
  <section class="priority-page__content content-priority">
    <div class="content-priority__main-wrap">
      <div class="container-small">
        <h2 class="content-priority__title title-2">Priority</h2>
        <div class="content-priority__wrap">
          <div class="content-priority__text text-priority">
          <span class="text-priority__txt text-priority__txt--lg">
            МЫ
          </span>
            <p class="text-priority__txt">
              собрали эксклюзивные услуги, опыт, перфекционизм и объединили их в одну  концепцию
              <span class="text-priority__txt text-priority__txt--bold">Anex Priority.</span>
            </p>
            <p class="text-priority__txt"> Мы являемся экспертами в области первоклассного туризма. Лучшими становятся
              среди лучших.
              Учитываем ваши интересы и ставим их на первое место. Берем все заботы на себя.</p>
            <p class="text-priority__txt"> Будьте уверены, что каждая деталь, начиная от индивидуального ведения заявки
              до
              сопровождения гостей, будет
              учтена. А еще вас ждет специально разработанная система привилегий – довольными останутся не только
              клиенты,
              но и вы сами.</p>
          </div>
          <picture class="content-priority__image">
            <source srcset="img/priority/content-img.webp" type="image/webp">
            <img alt="" class="image" height="345" loading="lazy" src="img/priority/content-img.jpg" width="544">
          </picture>
        </div>
      </div>
    </div>
    <div class="content-priority__professional-wrap priority-professional">
      <div class="container-small">
        <h2 class="priority-professional__title title-2">Новый уровень <br>профессионализма</h2>
        <ul class="priority-professional__list">
          <li class="priority-professional__item">
            <svg class="priority-professional__icon">
              <use xlink:href="img/sprite.svg#check"></use>
            </svg>
            <p class="priority-professional__text">
              Профессиональный рост и возможность работы с VIP-клиентами
            </p>
          </li>
          <li class="priority-professional__item">
            <svg class="priority-professional__icon">
              <use xlink:href="img/sprite.svg#check"></use>
            </svg>
            <p class="priority-professional__text">
              Персональный куратор по каждой заявке в течение всего отдыха и поддержка 24/7
            </p>
          </li>
          <li class="priority-professional__item">
            <svg class="priority-professional__icon">
              <use xlink:href="img/sprite.svg#check"></use>
            </svg>
            <p class="priority-professional__text">
              Доступ к закрытым акциям, бонусы и специальные тарифы на трансфер
            </p>
          </li>
          <li class="priority-professional__item">
            <svg class="priority-professional__icon">
              <use xlink:href="img/sprite.svg#check"></use>
            </svg>
            <p class="priority-professional__text">
              Нестандартный отдых и уникальные направления с детальной проработкой путешествий
            </p>
          </li>
        </ul>
        <div class="priority-professional__image-wrap">
          <picture class="priority-professional__image">
            <source srcset="img/priority/content-img2.webp" type="image/webp">
            <img alt="priority-image" class="image" height="535" loading="lazy" src="img/priority/content-img2.jpg"
                 width="450">
          </picture>
          <picture class="priority-professional__image">
            <source srcset="img/priority/content-img3.webp" type="image/webp">
            <img alt="priority-image" class="image" height="535" loading="lazy" src="img/priority/content-img3.jpg"
                 width="450">
          </picture>
        </div>
      </div>
    </div>
    <div class="content-priority__advantages priority-advantages">
      <div class="container-small">
        <h2 class="priority-advantages__title title-2">Преимущества <br> программы Priority</h2>
        <div class="priority-advantages__wrap">
          <ul class="priority-advantages__list">
            <li class="priority-advantages__item priority-advantages__item-title">Anex Priority</li>
            <li class="priority-advantages__item">
              <svg class="priority-advantages__icon">
                <use xlink:href="img/sprite.svg#check"></use>
              </svg>
              <span class="priority-advantages__text">Организация приватного отдыха;</span>
            </li>
            <li class="priority-advantages__item">
              <svg class="priority-advantages__icon">
                <use xlink:href="img/sprite.svg#check"></use>
              </svg>
              <span class="priority-advantages__text">Выбор любого места в самолете;</span>
            </li>
            <li class="priority-advantages__item">
              <svg class="priority-advantages__icon">
                <use xlink:href="img/sprite.svg#check"></use>
              </svg>
              <span class="priority-advantages__text">Повышенные нормы багажа;</span>
            </li>
            <li class="priority-advantages__item">
              <svg class="priority-advantages__icon">
                <use xlink:href="img/sprite.svg#check"></use>
              </svg>
              <span class="priority-advantages__text">Экспресс-трансфер на комфорт-классе;</span>
            </li>
            <li class="priority-advantages__item">
              <svg class="priority-advantages__icon">
                <use xlink:href="img/sprite.svg#check"></use>
              </svg>
              <span class="priority-advantages__text">Дополнительные опции страхования;</span>
            </li>
            <li class="priority-advantages__item">
              <svg class="priority-advantages__icon">
                <use xlink:href="img/sprite.svg#check"></use>
              </svg>
              <span class="priority-advantages__text">Поддержка клиента 24/7.</span>
            </li>
          </ul>
          <picture class="priority-advantages__image">
            <source srcset="img/priority/content-img4.webp" type="image/webp">
            <img alt="content-image" class="image" height="407" loading="lazy" src="img/priority/content-img4.jpg"
                 width="560">
          </picture>
        </div>
        <div class="priority-advantages__wrap">
          <picture class="priority-advantages__image">
            <source srcset="img/priority/content-img5.webp" type="image/webp">
            <img alt="content-image" class="image" height="407" loading="lazy" src="img/priority/content-img5.jpg"
                 width="560">
          </picture>
          <ul class="priority-advantages__list">
            <li class="priority-advantages__item priority-advantages__item-title">Anex Priority +</li>
            <li class="priority-advantages__item">
              <svg class="priority-advantages__icon">
                <use xlink:href="img/sprite.svg#check"></use>
              </svg>
              <span class="priority-advantages__text">Повышенные нормы багажа и выбор любого места  в самолете;</span>
            </li>
            <li class="priority-advantages__item">
              <svg class="priority-advantages__icon">
                <use xlink:href="img/sprite.svg#check"></use>
              </svg>
              <span class="priority-advantages__text">Дополнительные услуги и комплименты от туроператора;</span>
            </li>
            <li class="priority-advantages__item">
              <svg class="priority-advantages__icon">
                <use xlink:href="img/sprite.svg#check"></use>
              </svg>
              <span class="priority-advantages__text">Индивидуальный трансфер;</span>
            </li>
            <li class="priority-advantages__item">
              <svg class="priority-advantages__icon">
                <use xlink:href="img/sprite.svg#check"></use>
              </svg>
              <span class="priority-advantages__text">Индивидуальная встреча;</span>
            </li>
            <li class="priority-advantages__item">
              <svg class="priority-advantages__icon">
                <use xlink:href="img/sprite.svg#check"></use>
              </svg>
              <span class="priority-advantages__text">Дополнительные опции страхования;</span>
            </li>
            <li class="priority-advantages__item">
              <svg class="priority-advantages__icon">
                <use xlink:href="img/sprite.svg#check"></use>
              </svg>
              <span class="priority-advantages__text">Поддержка клиента 24/7.</span>
            </li>
          </ul>
        </div>
        <div class="priority-advantages__wrap">
          <ul class="priority-advantages__list">
            <li class="priority-advantages__item priority-advantages__item-title">Anex Priority</li>
            <li class="priority-advantages__item">
              <svg class="priority-advantages__icon">
                <use xlink:href="img/sprite.svg#check"></use>
              </svg>
              <span class="priority-advantages__text">Организация приватного отдыха;</span>
            </li>
            <li class="priority-advantages__item">
              <svg class="priority-advantages__icon">
                <use xlink:href="img/sprite.svg#check"></use>
              </svg>
              <span class="priority-advantages__text">Выбор любого места в самолете;</span>
            </li>
            <li class="priority-advantages__item">
              <svg class="priority-advantages__icon">
                <use xlink:href="img/sprite.svg#check"></use>
              </svg>
              <span class="priority-advantages__text">Повышенные нормы багажа;</span>
            </li>
            <li class="priority-advantages__item">
              <svg class="priority-advantages__icon">
                <use xlink:href="img/sprite.svg#check"></use>
              </svg>
              <span class="priority-advantages__text">Экспресс-трансфер на комфорт-классе;</span>
            </li>
            <li class="priority-advantages__item">
              <svg class="priority-advantages__icon">
                <use xlink:href="img/sprite.svg#check"></use>
              </svg>
              <span class="priority-advantages__text">Дополнительные опции страхования;</span>
            </li>
            <li class="priority-advantages__item">
              <svg class="priority-advantages__icon">
                <use xlink:href="img/sprite.svg#check"></use>
              </svg>
              <span class="priority-advantages__text">Поддержка клиента 24/7.</span>
            </li>
          </ul>
          <picture class="priority-advantages__image">
            <source srcset="img/priority/content-img6.webp" type="image/webp">
            <img alt="content-image" class="image" height="407" loading="lazy" src="img/priority/content-img6.jpg"
                 width="560">
          </picture>
        </div>
      </div>
    </div>
    <div class="content-priority__answer answer-priority">
      <div class="container-small">
        <h2 class="answer-priority__title title-2">Ответы на популярные <br>вопросы</h2>
        <div class="accordion answer-priority__section">
          <div class="answer-priority__text answer-priority__text--title accordion__title">
            Как получить статус Priority?
            <div class="accordion__icon">
              <span class="accordion__vertical-line"></span>
              <span class="accordion__horizontal-line"></span>
            </div>
          </div>
          <p class="accordion__content answer-priority__text">
            Туры с концепцией Priority и Priority + , для направлений Турция, Египет, в поиске туров обозначены
            специальным фильтром: для направлений ОАЭ, Мальдивы при выборе отеля (тура), вы ориентируетесь на стоимость
            в у.е., указанную в поиске тура.
          </p>
        </div>
        <div class="accordion answer-priority__section">
          <div class="answer-priority__text answer-priority__text--title accordion__title">
            Как приобрести продукт Priority?
            <div class="accordion__icon">
              <span class="accordion__vertical-line"></span>
              <span class="accordion__horizontal-line"></span>
            </div>
          </div>
          <p class="accordion__content answer-priority__text">
            Туры с концепцией Priority и Priority + , для направлений Турция, Египет, в поиске туров обозначены
            специальным фильтром: для направлений ОАЭ, Мальдивы при выборе отеля (тура), вы ориентируетесь на стоимость
            в у.е., указанную в поиске тура.
          </p>
        </div>
        <div class="accordion answer-priority__section">
          <div class="answer-priority__text answer-priority__text--title accordion__title">
            Я приобрел индивидуальный трансфер или перелет с бизнес классом, подходит ли мой тур под статус Priority?
            <div class="accordion__icon">
              <span class="accordion__vertical-line"></span>
              <span class="accordion__horizontal-line"></span>
            </div>
          </div>
          <p class="accordion__content answer-priority__text">
            Туры с концепцией Priority и Priority + , для направлений Турция, Египет, в поиске туров обозначены
            специальным фильтром: для направлений ОАЭ, Мальдивы при выборе отеля (тура), вы ориентируетесь на стоимость
            в у.е., указанную в поиске тура.
          </p>
        </div>
        <div class="accordion answer-priority__section">
          <div class="answer-priority__text answer-priority__text--title accordion__title">
            Могу ли я приобрести пакеты Priority и Priority+ дополнительно к турпакету?
            <div class="accordion__icon">
              <span class="accordion__vertical-line"></span>
              <span class="accordion__horizontal-line"></span>
            </div>
          </div>
          <p class="accordion__content answer-priority__text">
            Туры с концепцией Priority и Priority + , для направлений Турция, Египет, в поиске туров обозначены
            специальным фильтром: для направлений ОАЭ, Мальдивы при выборе отеля (тура), вы ориентируетесь на стоимость
            в у.е., указанную в поиске тура.
          </p>
        </div>
        <div class="accordion answer-priority__section">
          <div class="answer-priority__text answer-priority__text--title accordion__title">
            Программа Priority работает на всех направлениях одинаково?
            <div class="accordion__icon">
              <span class="accordion__vertical-line"></span>
              <span class="accordion__horizontal-line"></span>
            </div>
          </div>
          <p class="accordion__content answer-priority__text">
            Туры с концепцией Priority и Priority + , для направлений Турция, Египет, в поиске туров обозначены
            специальным фильтром: для направлений ОАЭ, Мальдивы при выборе отеля (тура), вы ориентируетесь на стоимость
            в у.е., указанную в поиске тура.
          </p>
        </div>
        <div class="accordion answer-priority__section">
          <div class="answer-priority__text answer-priority__text--title accordion__title">
            Я приобрел дорогой продукт, почему он не подходит под категорию Priority?
            <div class="accordion__icon">
              <span class="accordion__vertical-line"></span>
              <span class="accordion__horizontal-line"></span>
            </div>
          </div>
          <p class="accordion__content answer-priority__text">
            Туры с концепцией Priority и Priority + , для направлений Турция, Египет, в поиске туров обозначены
            специальным фильтром: для направлений ОАЭ, Мальдивы при выборе отеля (тура), вы ориентируетесь на стоимость
            в у.е., указанную в поиске тура.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section class="content-priority__chill chill-priority">
    <div class="container-small">
      <h2 class="chill-priority__title title-2">Отдых, организованный <br>с Anex Priority</h2>
      <div class="sliderMy chill-priority__slider">
        <div class="sliderMy__wrapper">
          <div class="sliderMy__slide">
            <picture class="chill-priority__image">
              <source srcset="img/priority/slide1.webp" type="image/webp">
              <img alt="slide1" class="image" height="280" loading="lazy" src="img/priority/slide1.jpg" width="352">
            </picture>
          </div>
          <div class="sliderMy__slide">
            <picture class="chill-priority__image">
              <source srcset="img/priority/slide2.webp" type="image/webp">
              <img alt="slide1" class="image" height="280" loading="lazy" src="img/priority/slide2.jpg" width="352">
            </picture>
          </div>
          <div class="sliderMy__slide">
            <picture class="chill-priority__image">
              <source srcset="img/priority/slide3.webp" type="image/webp">
              <img alt="slide1" class="image" height="280" loading="lazy" src="img/priority/slide3.jpg" width="352">
            </picture>
          </div>
          <div class="sliderMy__slide">
            <picture class="chill-priority__image">
              <source srcset="img/priority/slide4.webp" type="image/webp">
              <img alt="slide1" class="image" height="280" loading="lazy" src="img/priority/slide4.jpg" width="352">
            </picture>
          </div>
          <div class="sliderMy__slide">
            <picture class="chill-priority__image">
              <source srcset="img/priority/slide1.webp" type="image/webp">
              <img alt="slide1" class="image" height="280" loading="lazy" src="img/priority/slide1.jpg" width="352">
            </picture>
          </div>
          <div class="sliderMy__slide">
            <picture class="chill-priority__image">
              <source srcset="img/priority/slide2.webp" type="image/webp">
              <img alt="slide1" class="image" height="280" loading="lazy" src="img/priority/slide2.jpg" width="352">
            </picture>
          </div>
          <div class="sliderMy__slide">
            <picture class="chill-priority__image">
              <source srcset="img/priority/slide3.webp" type="image/webp">
              <img alt="slide1" class="image" height="280" loading="lazy" src="img/priority/slide3.jpg" width="352">
            </picture>
          </div>
          <div class="sliderMy__slide">
            <picture class="chill-priority__image">
              <source srcset="img/priority/slide4.webp" type="image/webp">
              <img alt="slide1" class="image" height="280" loading="lazy" src="img/priority/slide4.jpg" width="352">
            </picture>
          </div>
        </div>
        <button class="btn-reset sliderMy__btn sliderMy__btn--prev">
          <svg fill="none" height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg">
            <circle cx="16" cy="16" fill="white" r="16" transform="rotate(-180 16 16)"/>
            <path d="M17.8025 11.3801L13.9992 15.1835C13.55 15.6326 13.55 16.3676 13.9992 16.8168L17.8025 20.6201"
                  stroke="#1C1C1C" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                  stroke-width="1.3"/>
          </svg>
        </button>
        <button class="btn-reset sliderMy__btn sliderMy__btn--next">
          <svg fill="none" height="32" viewBox="0 0 32 32" width="32" xmlns="http://www.w3.org/2000/svg">
            <circle cx="16" cy="16" fill="white" r="16"/>
            <path d="M14.1975 20.6199L18.0008 16.8165C18.45 16.3674 18.45 15.6324 18.0008 15.1832L14.1975 11.3799"
                  stroke="#1C1C1C" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
                  stroke-width="1.3"/>
          </svg>

        </button>
        <div class="sliderMy__scrollbar"></div>
      </div>
    </div>
  </section>
</div>
